
.Home {
  text-align: center;
  height: 100vh;
}
.header-title {
  margin: 10px 10px;
}

.header-bar{
  justify-content: left;
  display: grid;
  margin-left: 2%;
  grid-auto-flow: column dense;
}


.main-page {
  width: 100%;
  height: 90%;
  display: flex;
}

.split-left {
  width: 70%;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
  left: 0;
  display: inline-block;
}
.split-right {
  width: 30%;
  height: 100%;
  margin-right: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 0;

}
.main-video {
  /* top: 10%; */
  width: 100%;
  height: 70%;
  
}

.modal {
  font-size: 17px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px 10px;
  text-align: center;
  font-size: 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px 15px;
  margin: auto;
  text-align: center;
  
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 10px;
  top: 10px;
  font-size: 24px;
  border-radius: 18px;
  border: none;
}


.progressBar {
  margin-top: 5vh;
  z-index: 100;
}

.time-progress{
  font-weight: 600; 
  color: black;
  margin-top: -3vh;
  margin-right: -95%; 
  position: relative;
  z-index: 1000;
}
.flag-tip {
  position: absolute;
  width: 3px;
  margin-left: 2%;
  font-size: 50px;
  font-weight: bold;
  z-index: 1000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
