
.Home {
  text-align: center;
  height: 100vh;
}


.main-page {
  display: flex;
  height: 100vh;
}
.split {
  width: 70%;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left-wrapper{
  left: 0;
  overflow-y: hidden;
}
.right-wrapper{
  right: 0;
  overflow-y: hidden;
}

.main-video {
  /* top: 10%; */
  margin-left: 5%;
  width: auto;
  height: auto;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
