.App {
  text-align: center;
  height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-page {
  display: flex;
}
.split {
  width: 50%;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.left-wrapper{
  left: 0;
  overflow-y: hidden;
}

.main-video {
  /* top: 10%; */
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
