
.Home {
  text-align: center;
  height: 100vh;
}
.header-title {
  margin: 20px 20px;
}

.header-bar{
  padding-top: 50px;
  justify-content: left;
  display: grid;
  margin-left: 80%;
  grid-auto-flow: column dense;
}


.main-page {
  width: 100%;
  height: 90%;
  display: flex;
}

.split {
  width: 70%;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left-wrapper{
  left: 0;
  overflow-y: hidden;
}
.right-wrapper{
  right: 0;
  overflow-y: hidden;
}

.main-video {
  /* top: 10%; */
  margin-left: 5%;
  width: 90%;
  height: 70%;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
