.App {
  text-align: center;
  height: 100vh;
}
.Home {
  text-align: center;
  height: 100vh;
}

html, body, #app, #app>div {
  height: 100%
}


.main-page {
  display: flex;
  height: 100vh;
}
.split {
  width: 50%;
  height: 100%;
  margin-left: 2%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.left-wrapper{
  left: 0;
  overflow-y: hidden;
}

.main-video {
  /* top: 10%; */
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
